<%- include('../partials/header')%>
<h2>Enter a New Item</h2>
<form action="/lists" method="POST">
  <label>List:
    <input type="text" name="listName">
  </label><br>
  <label>Due By:
    <input type="date" name="dueDate">
  </label><br>
  <label>Shop At:
    <select name="location">
      <option value="Harris Teeter">Harris Teeter</option>
      <option value="Walmart">Walmart</option>
      <option value="Target">Target</option>
      <option value="Trader Joe's">Trader Joe's</option>
      <option value="Aldi">Aldi</option>
      <option value="Lidl">Lidl</option>
      <option value="World Market">World Market</option>
      <option value="Patel Brothers">Patel Brothers</option>
      <option value="other">other</option>
    </select>
  </label><br>
  <label>Completed:
    <input type="checkbox" name="completed">
  </label><br>
  <button type="submit">Add List</button>
</form>
<p>
    <%= errorMsg %>
</p>

<%- include('../partials/footer')%>