<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Shopping List</title>
</head>
<body>
    <nav class="nav">
        <a class='navLinks' href="/lists">SHOPPING LIST</a>
        <% if (user) { %>
          <a class='navLinks' href="/lists/new">
              ADD LIST</a>
          <a class='navLinks' href="/logout">LOG OUT</a>
        <% } else { %>
          <a class='navLinks' href="/auth/google" id="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
      
      
