body {
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 color: #320B0F;
}

a {
  color: #F3D9A5;
}

#login img {
  height: 30px;
  width: 30px;
  display: inline-block;
  
}

#login {
  padding-top: 11px;
}


.navLinks {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #320B0F;
  margin: 30px;
  display: flex;

}


.nav {
  bottom: 100px;
  grid-area: nav;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.06);
  height: 70px;
}


table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: white;
  color: #320B0F;
}


tbody tr:nth-child(even) {
  background-color: #320B0F;
  color: #320B0F;
}

form {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 8px;
  margin-bottom: 12px;
}

button[type="submit"] {
  background-color: #F3D9A5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #F3D9A5;
}

.container{
  align-items: center;
}

.form-containers {
  display: flex;
  width: 80%;
}

.form {
  display: inline-block;
  margin-left: 250px;
}

input[type="submit"] {
  background-color: #F3D9A5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}