body {
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.display {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #FDFFFC;
  color: #2B1F12;
  font-family: Futura;
  font-size: 16px;
  
}

a {
  color: #00B7FF;
}

#login img {
  height: 30px;
  width: 30px;
  display: inline-block;
  
}

#login {
  padding-top: 11px;
}


.navLinks {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: gray;
  margin: 30px;
  display: flex;

}


.nav {
  bottom: 100px;
  grid-area: nav;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  height: 70px;
}

.listTable {
  border: 1px solid;
  
}

#show-page{
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  
}